/* https://www.color-hex.com/color-palette/68961 */
/* made by Giancarlo Pernudi */
:root {
  --main-bg-color: #2e3742;
  --main-cd-color: #465b6f;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
  font-family: "Roboto", Arial;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: var(--main-bg-color);
  color: white;
}

h1 {
  font-weight: normal;
  margin: 0;
}

table {
  width: 100%;
  background-color: black;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

table td {
  align: center;
}

.alert {
  background-color: rgba(0, 255, 0, 0.5)
}

.content-section {
  display: block;
  text-align: center;
}

.content-section form fieldset {
  background-color: var(--main-cd-color);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 0;
}

.content-section form {
  width: 650px;
  margin: auto;
  text-align: center;
}

.content-section form div:nth-child(n+2) {
  margin-top: 10px;
}