<!-- made by Giancarlo Pernudi -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Take Attendance</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {%with messages = get_flashed_messages(with_categories=true)%}
  {%if messages%}
  {%for category, messge in messages%}
  <!-- <div class="alert alert-{{category}}">
    {{messge}}
  </div> -->
  {%endfor%}
  {%endif%}
  {%endwith%}
  {%block content%}
  <div class="content-section">
    <form action="" method="POST">
      <fieldset class=" create-form">
        <div>
          <h1>Take Attendance for {{m.date}}</h1>
        </div>
        <table>
          {%for member in members%}
          <tr>
            <td>{{member}}</td>
            <td><input type="checkbox" name="name1" value="here"></td>
          </tr>
          {%endfor%}
        </table>
        <input type="submit" name="submit" value="submit">
      </fieldset>
    </form>
  </div>
  {%endblock content%}
</body>

</html>